:root{
    --dark-blue: #051D3B;
    --blue-400: #1a58f7;
    --blue-300: #5081FB;
    --blue-200: #7BA4FC;
    --blue-100: #96B9FD;
    --light-grey: #a7a7a760;
    font-family: 'Inter', sans-serif;
}