.editor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 70vh;
}

.editor-back{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 10px;
    background-color: var(--blue-300);
}

#editor{
    font-size: 1.2rem;
    font-weight: bold;
    resize: none;
    height: 40vh;
    width: 80%;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    border: none;
}

#highlight{
    font-size: 1.1rem;
    background-color: var(--blue-400);
    width: 80%;
}