.editor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 70vh;
}

.editor-back{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: .6;
    height: 50vh;
    border-radius: 10px;
    background-color: var(--blue-300);
}

.code-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
}

code{
    display: block;
    padding: .5rem .7rem;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    white-space: pre-wrap;
}

@media screen and (max-width:800px){
    .editor{
        display: flex;
        align-items: center;
        width: 100%;
        height: 90%;
    }

    .editor-back{
        height: 70%;
    }

    .code-wrapper{
        display: flex;
        align-items: center;
        height: 90%;
    }

    code{
        margin: 0 auto;
        padding: 2rem 1rem;
        width: 90%;
        max-width: 80vw;
        height: 90%;
    }
}