.editor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 70vh;
}

.editor-back{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: .6;
    height: 50vh;
    border-radius: 10px;
    background-color: var(--blue-300);
}

code{
    display: block;
    padding: .5rem .7rem;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    white-space: pre-wrap;
}

#highlight{
    font-size: 1.1rem;
    background-color: var(--blue-400);
    width: 80%;
}